@charset 'utf-8';
body{
    height: 1590px;
}
.test{
    height: 400px;
    width: 400px;
    background-color: #333333;
}
/****************/
/* ノーマライズ */
/****************/
img{
    max-width: 100%; /* 元サイズより広げない*/
    width: 100%; /* 親の幅に等倍 */
    height: auto; /* スマホで縦横比を変えない */
}

div, header, article, section,
footer, p, dl, figure, ul, ol
{
    box-sizing:border-box; /* paddingを内側に納める */
}

dl, figure, ul, ol{
    padding-left: 0;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
 }

/*************************************************************************************************************************** 
 *************************************************************************************************************************** 
*   参考にしたサイト
*   背景画像を固定する https://shu-naka-blog.com/css/attachment/
*
*   ボタン関係
*   コピペで使うマウスオーバー時のhover cssエフェクト28選 https://lab.sonicmoov.com/markup/css/hover-css/
*   jquery https://webdesignfacts.net/entry/jquery-button/#gsc.tab=0
*   cssのみ https://b-risk.jp/blog/2021/11/hover-reference/
*
*   スライダー(jQuery)
*   【jQuery】スライダープラグイン「slick」の使い方を詳しく解説 https://webdesignday.jp/inspiration/technique/jquery-js/3847/
*    slick注意点など https://takblog.site/web/?p=423
*    center mode二周目のチラツキを解消する https://sinpe-pgm.com/slick-bugfix/#co-index-2
*   テンプレート https://html5up.net/
 ***************************************************************************************************************************
 ***************************************************************************************************************************/



/**********************/
/* 背景画像を固定する */
/**********************/

/* .bg-image-area > bg-image-fixed,cover,content(文章) */

/* 背景画像領域の親要素 */
.bg-image-area{
    position: relative; /* 背景画像領域で一番上になるのでrelative */
}
/* 背景画像領域の子要素。基本的にposition:absolute */
.bg-image-fixed{
    background-image: url(images/gaikan1.png);
    height: 800px;
    width: 100%;
    position: absolute;
    z-index: -10; /* 一応.cover とz-indexを揃えておく */
    
    background-position: center center; /* 背景画像の位置 */
    background-size: cover; /* 背景画像のサイズ */
    background-attachment: fixed; /*--背景画像の固定--*/
    background-repeat: no-repeat; /*--背景画像の繰り返し--*/

    filter: brightness(0.8); /* ちょっと暗くする */
    /* filter:blur(3px); */ /* ぼかし */

}
/* 背景画像文章 */
.bg-image-article{
    color: #ffffff;
    position: absolute;
}
/* 半透明な黒いカバーを掛ける */
.opacity-cover{
    opacity: 0.5;

    position: absolute;
    width: 50%;
    background-color: #333333;
    height: 800px;
    width: 50%;
    
    z-index: -10;/* 一応.bg-image-fixed とz-indexを揃えておく */
}

img{
    background-position: center center; /* 背景画像の位置 */
    background-size: cover; /* 背景画像のサイズ */
    background-attachment: fixed; /*--背景画像の固定--*/
    background-repeat: no-repeat; /*--背景画像の繰り返し--*/

}



/************************/
/* スライドボタンの設定 */
/************************/
/* divタグにクラスを当てる */

/***************/
/* 基本のボタン */
/***************/
.button{
    border: none;
    background: #333333;
    color: #fff;
    display: block;
    font-weight: bold;
    max-width: 300px;
    padding: 0.5rem 1rem;
    text-align: center;
}

/* 初期状態 */
.slide-button{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
/* 変化後 */
.slide-button::after{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1); /* 要素をx軸方向に0倍縮小、y軸方向に1倍拡大する → 無くなる */
    transform-origin: left top; /* 左 → 右 で動かす*/
    transition: .13s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}
/* ホバー時にテキストの色を変える */
.slide-button:hover {
    color: #333333;
}
/* ホバー時にafter要素のscaleを変えて出現させる */
.slide-button:hover::after {
transform: scale(1, 1);
}

.carousel-item img{
    width: 50%;
}


/**********************************/
/* slick スライダーの設定(jQuery) */
/**********************************/
/* slickは読み込みが完了すると「slick-initialized」というクラスをつける */
.slider{
    margin: 100px auto;
    width: 100%;
    position: relative;
    padding: 0;
}
.slider img{
    height: auto;
    width: 100%;
}

/*slick 左右の矢印の設定 */

/* 矢印を内側に入れる */
.slick-prev.slick-arrow,
.slick-prev.slick-arrow:before
{
    position: absolute;
    left: 0;
    z-index: 10;

}
.slick-next.slick-arrow,
.slick-next.slick-arrow:before
{
    position: absolute;
    right: 0;
    z-index: 10;

}
.slick-dots{
    /* ドットガイドを内側に入れる。ドットはz-indexいらないっぽい */
    position: absolute;
    bottom: 0;
}

